@import url("theme.css");

.wy-nav-content {
    max-width: none;
}

.important {
    color:red;
    font-weight: bold;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}
